// Fonts
// Variables
@import "variables";
// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.nav-side-menu {
  overflow: auto;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  width: 200px;
  height: 100%;
  color: #ffffff;
}

.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #ffffff;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

body {
  margin: 0px;
  padding: 0px;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -10px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg)
}

.o-hidden {
  overflow: hidden !important
}

.higher-badge {
  position: relative;
  z-index: 0;
  bottom: 8px;
}

.content-wrapper {
  overflow-x: hidden;
  background: #f5f8fa;;
}

body.sticky-footer .content-wrapper {
  min-height: calc(100vh - 56px)
}

footer.sticky-footer {
  position: fixed;
  left: 200px;
  bottom: 0;
  width: calc(100% - 200px);
  height: 56px;
  background-color: #e9ecef;
  line-height: 55px
}

body.sticky-footer {
  margin-bottom: 56px
}

.thead-dark tr th {
  padding-bottom: 5px;
  padding-top: 5px;
}

.link_full_space {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.link_full_space_party {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.link_full_space_party:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #a9d4e9;
}

html, body {
  height: 100%;
}

#main {
  margin-bottom: 70px;
  padding: 0px 20px 0px 20px;
  margin-top: 20px;
  height: 100%;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge.badge-pill, .shortcut-mappings .key {
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.07);
  color: #707070;
  vertical-align: baseline;
}

.top-area .nav-links, .wiki-page-header .nav-links {
  margin-bottom: 0;
  border-bottom: 0;
  float: left;
}

.top-area {
  border-bottom: 1px solid grey;
  height: 40px;
  margin-bottom:20px;
}

.nav-tabs {
  height: 100%;
}

.nav-tabs li a {
  padding-top: auto;
  padding-bottom: auto;
  height: 100%;
  text-decoration:none;
}

.nav-tabs li:hover{
  border-bottom:1px solid grey;
}


.nav-tabs .active {
  border-bottom: 1px solid cornflowerblue;
}

.nav-links:not(.quick-links) li:not(.md-header-toolbar) a, .nav-links:not(.quick-links) li:not(.md-header-toolbar) button {
  padding: 10px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 28px;
  color: #707070;
  border: 0;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    height: 51px;
    min-height: 51px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  footer.sticky-footer {
    position: fixed;
    bottom: 0;
    height: 56px;
    background-color: #e9ecef;
    line-height: 55px;
    width: 100%;
    left: 0px;
  }
  #main .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  #main {
    padding-top: 15px;
    margin-top: 0px;
    margin-bottom: 57px;
    height: calc(100% - 120px);
  }
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
    width: calc(100% - 200px);
    margin-bottom: 70px;
    margin-top: 0px;
    padding-top: 20px;
    float: right;
    height: calc(100% - 70px);
  }
}